<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoアプリ</title>
</head>
<body>
    <h1>ToDoアプリ</h1>

    <form method="POST">
        <h2>プロジェクト追加/削除欄</h2>
        <!--! pjに任意の名前をつけて追加するエリア -->
        <div>
            <input type="text" name="newPjName">
            <input type="submit" name="pjAdd" value="createPJ">
        </div>

        <!--? 選択したpjを削除するエリア -->
        <div>
            <select name="pjList">
                {% for pjL in pjmDict.keys() %}
                    <option> {{ pjL }} </option>
                {% endfor %}
            </select>
            <input type="submit" name="remove" value="pjRemove">
        </div>
    </form>

    <h2>タスク追加</h2>

    <!--! タスクを追加するエリア  -->
    {% for pjm in pjmDict %}
    <span id = " {{ list(pjm.projects.keys()) }}">
        <h3>{{ list(pjm.projects.key()) }}</h3>
        <form method="POST">
            <input type="text" name="{{ list(pjm.projects.keys()) }}taskAdd" required>
            <input type="date">
            <input type="submit" value="追加">
        </form>

        <table border="1" id = "{{ list(pjm.projects.keys()) }}">
            <tr>
                <th>タスク</th>
                <th>日付</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ pjm.value.content }}</td>
                    <td>{{ pjm.value.date }}</td>
                </tr>
            {% endfor %}
        </table>
    </span>
    {% endfor %}
</body>
</html>